/* ROOT */

:root {
    --boo-primary: #ff6900;
    --boo-dark: #1a1a1a;
    --boo-light: #fefdf7;
    --boo-true: #008000;
    --boo-false: #ff0000;
}

/* DEBUG */

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: "Roboto", sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* UTILS */

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--boo-light);
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.bg-primary {
    background-color: var(--boo-primary);
}

.logo img {
    height: 40px;
    margin: 10px;
}

.icons {
    color: #fefdf7;
}

.img-card>img {
    width: 100%;
}

.item-description {
    font-size: 1rem;
}

header {
    margin-bottom: 5rem;
}

.bg-dark {
    background-color: var(--boo-dark);
}

/* CARD-SECTION*/

main>.container {
    margin-bottom: 5rem;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 20rem;
}

.img-card {
    position: relative;
    width: 100%;
}

.price {
    color: var(--boo-false);
    padding-right: 1rem;
}

.real-price {
    text-decoration: line-through;
}

/* BADGE E ICON */

.bg-icon-heart .fa-heart {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    padding: 1rem 2.1rem 1rem 1rem;
    font-size: 18px;
}

.badge {
    color: var(--boo-light);
    font-weight: 800;
    padding: 0.5rem 1.2rem;
    position: absolute;
    bottom: 4rem;
    font-size: 0.7rem;
}

.sale-alert {
    background-color: var(--boo-false);
}

.eco-friendly {
    background-color: var(--boo-true);
    left: 4.3rem;
}

.eco-friendly.ef-align {
    left: 0;
}

/* FOOTER */

footer p {
    color: var(--boo-light);
    font-size: 1.2rem;
}

footer a {
    padding-top: 0.3rem;
    padding-right: 1rem;
    font-size: 0.8rem;
}

.bg-dark>.container {
    height: 100%;
    align-items: center;
    padding: 20px 0;
}

footer .fa-brands {
    padding-top: 0.6rem;
    color: var(--boo-light);
}


/* HOVER */

.bg-icon-heart:hover {
    .fa-heart {
        color: var(--boo-false);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

.photo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:hover {
        opacity: 100%;
        transition: opacity 0.5s ease-in-out
    }

}