/* ROOT */

:root {
    --boo-primary: #ff6900;
    --boo-dark: #1a1a1a;
    --boo-light: #fefdf7;
    --boo-true: #008000;
    --boo-false: #ff0000;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: sans-serif;
}

/* UTILS */

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--boo-light);
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.bg-primary {
    background-color: var(--boo-primary);
}

.logo img {
    height: 40px;
    margin: 10px;
}

.icons {
    color: #fefdf7;
}

.img-card {
    width: 100%;

}

.img-card>img {
    width: 100%;
}

.item-description {
    font-size: 1rem;
}

header {
    margin-bottom: 5rem;
}

/* CARD */


.img-card {
    position: relative;
    width: 300px;
}

.sale-price {
    color: var(--boo-false);
    padding-right: 1rem;
}

.real-price {
    text-decoration: line-through;
}

.bg-icon-heart .fa-heart {
    position: absolute;
    top: 50px;
    right: -29px;
    background-color: white;
    padding: 1rem 2.3rem 1rem 1rem;
    font-size: 24p;
    transform: translate(-50%, -50%);
}

.sale-alert {
    background-color: var(--boo-false);
    padding: 0.5rem 1.2rem;
    position: absolute;
    bottom: 4rem;
    font-size: 0.7rem;
}

.eco-friendly {
    background-color: var(--boo-true);
    padding: 0.5rem 1.2rem;
    position: absolute;
    bottom: 4rem;
    left: 4.6rem;
    font-size: 0.7rem;
}

main>.container {
    padding-left: 1.5rem;
    margin-bottom: 5rem;
    gap: 3rem;
    flex-wrap: wrap;
}